
<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>!category_name!管理画面</title>
<link href="css/normalize.css" rel="stylesheet" type="text/css" />
<link href="css/style_manage.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h2>!category_name!商品編集</h2>
<form method="post" action="management.php">
<table border=1>
	<tr>
		<td>商品ID</td>
		<td>!item_id!</td>
	</tr>
	<tr>
		<td>商品名</td>
		<td><input name="item_name" type="text" value="!item_name!"></td>
	</tr>
	<tr>
		<td>値段</td>
		<td><input name="item_price" type="text" value="!item_price!"></td>
	</tr>
    <tr>
		<td>色</td>
		<td>!color_name!</td>
	</tr>
    <tr>
		<td>在庫有無</td>
		<td><input type="radio" name="item_exist" value=1 !checked1!>有
			<input type="radio" name="item_exist" value=0 !checked0!>無
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" name="sub" value="送信"></td>
	</tr>
</table>
<input type="hidden" name="mode" value="item">
<input type="hidden" name="category_name" value="!category_name!">
<input type="hidden" name="state" value="update">
<input type="hidden" name="item_id" value="!item_id!">
</form>
<br>

<h2>!category_name!商品一覧</h2>
<table border=1>
<tr><th>商品ID</th><th>商品名</th><th>色</th><th>値段</th><th>在庫有無</th><th>編集</th><th>色追加</th><th>削除</th>
!item_data!
</table>
<form action="management.php" method ="get" class="go_back">
<input type="submit" value="戻る">
<input type="hidden" name="category_name" value="!category_name!">
</form>
</body>
</html>