<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>!category_name!商品一覧</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
<form action="management.php" class="manage_button">
<input type="submit" name="management" value="管理">
<input type="hidden" name="category_name" value="!category_name!">
</form>
<div class="wrapper">
    <p class="btn-gnavi">
      <span></span>
      <span></span>
      <span></span>
    </p>
<nav class="global-navi">
<form action="customer.php" method ="get">
!category_data!
</form>
</nav>
</div>
</header>

<main class="customer_page">
<h2>!category_name!商品一覧</h2>
<table border=1　class="customer_table">
<tr><th>商品カテゴリ</th><th>商品名</th><th>色</th><th>値段</th><th>在庫</th><th>購入数</th><th>購入</th>
!item_data!
</table>

</main>

<footer>
<div class="go_back">
<form action="index.php">
<input type="submit" value="topへ">
</form>
</div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    $(function() {
      $(".btn-gnavi").on("click", function() {
        // ハンバーガーメニューの位置を設定
        var rightVal = 0;
        if ($(this).hasClass("open")) {
          // 位置を移動させメニューを開いた状態にする
          rightVal = -300;
          // メニューを開いたら次回クリック時は閉じた状態になるよう設定
          $(this).removeClass("open");
        } else {
          // メニューを開いたら次回クリック時は閉じた状態になるよう設定
          $(this).addClass("open");
        }

        $(".global-navi").stop().animate({
          right: rightVal
        }, 200);
      });
    });
  </script>

</body>
</html>