<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>トップページ</title>
  <link href="css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="top_page">
<h1>Top Page</h1>
<p><img src="picture/top_picture.jpg" alt="" title="top_page" width="450" height="300"></p>
<h3>閲覧したい商品を選んでください</h3>
<form action="customer.php" method ="get">
!category_data!
</form>
</body>
</html>