<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>トップページ</title>
  <link href="css/normalize.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>閲覧したい商品を選んでください</h3>
<form action="customer.php" method ="get">
!category_data!
</form>
</body>
</html>