<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>!item_kind!商品一覧</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form action="management.php">
<input type="submit" name="tops" value="管理">
</form>
<form action="">
<ul>
    <li><input type="button" name="tops" value="トップス"></li>
    <li><input type="button" name="bottoms" value="ボトムス"></li>
    <li><input type="button" name="accessory" value="アクセサリー"></li>
</ul>
</form>
<h2>!item_kind!商品一覧</h2>
<table border=1>
<tr><th>商品ID</th><th>商品名</th><th>色</th><th>値段</th><th>在庫有無</th>
</table>
</body>
</html>